body,
html {
  background-color: #eee;
}

body {
  background-color: #eee;
  @include pattern-dots(#eee, rgb(218, 218, 218), rgb(218, 218, 218));
}

.splashBody {
  @include pattern-dots(#ccc, #bbb, #aaa);
}

#top-bg {
  background-color: #303c6c;
}
