// Variables
/*
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;*/

$mainImg: url(/assets/photo/linarium-gauss.jpg);

/*$font-family-base: "Lora", serif;
$headings-font-family: "Montserrat", sans-serif;*/

$layout-width: 800px;
$font-family-serif: "Lora", serif;
$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;
$line-height-base: 2;
$line-height-lg: 2;
$line-height-sm: 2;
$headings-line-height: 1.2;
$font-size-base: 1.1rem;
$heading-font-size-scale-factor: 1.25;
$h1-font-size: $font-size-base * pow($heading-font-size-scale-factor, 5);
$h2-font-size: $font-size-base * pow($heading-font-size-scale-factor, 4);
$h3-font-size: $font-size-base * pow($heading-font-size-scale-factor, 3);
$h4-font-size: $font-size-base * pow($heading-font-size-scale-factor, 2);
$h5-font-size: $font-size-base * pow($heading-font-size-scale-factor, 1);
$h6-font-size: $font-size-base !default;

$primary: #00885b;
$primaryLighter: #4bb988;
$primaryDarker: #005a31;
$secondary: #d20738;
$secondaryLighter: #ff5362;
$secondaryDarker: #990013;
