<div class="section-authors container">
  <div class="row">
    <div class="col-12">
      <h2>
        <a name="authors">Autorzy</a>
      </h2>

      <div class="media">
        <img
          alt="Roman Lewandowski, naukowiec badający opiekę zorientowana na pacjenta"
          src="/assets/authors/roman-lewandowski.jpg"
        />
        <div class="media-body">
          <h5 class="mt-0">Dr Roman Lewandowski</h5>
          Naukowiec skupiony na badaniu opieki zdrowotnej, Researcher focused on
          healthcare sciences, skupia się na badaniu OZO; Dyrektor Wojewódzkiego
          Szpitala Rehabilitacyjnego dla Dzieci w Ameryce; Adiunkt w Społecznej
          Akademii Nauk na Wydziale Zarządzania. Roman uczestniczy w wielu
          europejskich programach badawczych, m.in. rozwijających podejście OZO
          (<a href="https://costcares.eu/">://costcares.eu</a>). Jest zastępcą
          redaktora naczelnego czasopisma naukowego
          <a href="http://jhsm.san.edu.pl/"
            >Journal of Health Study and Medicine</a
          >.

          <ul class="list-unstyled">
            <li>
              <a href="https://ameryka.academia.edu/RomanLewandowski">
                <i class="fas fa-graduation-cap"></i>
                Roman na Academia.edu
              </a>
            </li>
            <li>
              <a href="https://www.researchgate.net/profile/Roman_Lewandowski2">
                <i class="fab fa-researchgate"></i>
                Roman na ResearchGate
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/user/romanlewandowski">
                <i class="fab fa-youtube"></i>
                Roman na Youtube
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="media">
        <img
          alt="Jędrzej Lewandowski, person-centred-care implementator"
          src="/assets/authors/jedrzej-lewandowski.jpg"
        />
        <div class="media-body">
          <h5 class="mt-0">Jędrzej Lewandowski</h5>
          Architekt oprogramowania i student 6 roku kierunku lekarskiego.
          Jędrzej rozwija systemy IT ułatwiające wprowadzanie OZO i
          wykorzystujące jego potencjał do poprawiania compliance pacjentów.
          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/jblew">
                <i class="fab fa-github"></i>
                Jędrzej na Githubie
              </a>
            </li>
            <li>
              <a href="https://jedrzej.lewandowski.doctor">
                <i class="fas fa-globe"></i>
                ://jedrzej.lewandowski.doctor
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
