<div class="section-authors container">
  <div class="row">
    <article class="col-12">
      <h2><a name="authors">Authors</a></h2>

      <div class="media">
        <img
          src="https://0.academia-photos.com/6546004/2623265/3047032/s200_roman.lewandowski.jpg"
          alt="Roman Lewandowski, person-centred-care researcher"
        />
        <div class="media-body">
          <h5 class="mt-0">Roman Lewandowski</h5>
          Researcher focused on healthcare sciences, devoted to PCC research;
          chief of the Voivodeship Rehabilitation Hospital for Children in
          Ameryka, Poland. Roman participates in several european research
          programmes faciliating the development of PCC care

          <ul class="list-unstyled">
            <li>
              <a href="https://ameryka.academia.edu/RomanLewandowski">
                <i class="fas fa-graduation-cap"></i>
                Roman on Academia.edu
              </a>
            </li>
            <li>
              <a href="https://www.researchgate.net/profile/Roman_Lewandowski2">
                <i class="fab fa-researchgate"></i>
                Roman on ResearchGate
              </a>
            </li>
            <li>
              <a href="https://romanlewandowski.pl">
                <i class="fas fa-globe"></i>
                ://romanlewandowski.pl
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="media">
        <img
          src="https://github.com/Jblew/jblew.github.io/raw/master/img/jedrzej-lewandowski-avatar-512.jpg"
          alt="Jędrzej Lewandowski, person-centred-care implementator"
        />
        <div class="media-body">
          <h5 class="mt-0">Jędrzej Lewandowski</h5>
          Software architect and medical student. Jędrzej develops two systems
          aimed at enabling PCC using IT advancements.

          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/jblew">
                <i class="fab fa-github"></i>
                Jędrzej on Github
              </a>
            </li>
            <li>
              <a href="https://jedrzej.lewandowski.doctor">
                <i class="fas fa-globe"></i>
                ://jedrzej.lewandowski.doctor
              </a>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</div>
