<div class="section-authors container">
  <div class="row">
    <article class="col-12">
      <h2><a name="authors">Authors</a></h2>

      <div class="media">
        <img
          src="/assets/authors/roman-lewandowski.jpg"
          alt="Roman Lewandowski, person-centred-care researcher"
        />
        <div class="media-body">
          <h5 class="mt-0">Roman Lewandowski, PhD</h5>
          Researcher focused on healthcare sciences, devoted to PCC research;
          CEO of the Voivodeship Rehabilitation Hospital for Children in
          Ameryka, Poland; Assistant Professor at University of Social Sciences,
          Management Faculty. Roman participates in several European research
          programmes facilitating the development of PCC approach (<a
            href="https://costcares.eu/"
            >://costcares.eu</a
          >). He is the deputy editor-in-chief of the
          <a href="http://jhsm.san.edu.pl/"
            >Journal of Health Study and Medicine</a
          >.

          <ul class="list-unstyled">
            <li>
              <a href="https://ameryka.academia.edu/RomanLewandowski">
                <i class="fas fa-graduation-cap"></i>
                Roman on Academia.edu
              </a>
            </li>
            <li>
              <a href="https://www.researchgate.net/profile/Roman_Lewandowski2">
                <i class="fab fa-researchgate"></i>
                Roman on ResearchGate
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/user/romanlewandowski">
                <i class="fab fa-youtube"></i>
                Roman on Youtube
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="media">
        <img
          src="/assets/authors/jedrzej-lewandowski.jpg"
          alt="Jędrzej Lewandowski, person-centred-care implementator"
        />
        <div class="media-body">
          <h5 class="mt-0">Jędrzej Lewandowski</h5>
          Software architect and medical student. Jędrzej develops two systems
          aimed at enabling PCC using IT advancements.

          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/jblew">
                <i class="fab fa-github"></i>
                Jędrzej on Github
              </a>
            </li>
            <li>
              <a href="https://jedrzej.lewandowski.doctor">
                <i class="fas fa-globe"></i>
                ://jedrzej.lewandowski.doctor
              </a>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</div>
