<div class="section-bibliography container">
  <!-- TASKTODO translate -->

  <div class="row">
    <article class="col-12">
      <h2><a name="bibliography">Bibliography</a></h2>
      <ol>
        <li>
          Barry, Michael J., and Susan Edgman-Levitan. 2012. Shared Decision
          Making — The Pinnacle of Patient-Centered Care. New England Journal of
          Medicine 366: 780–781.
          <a href="https://doi.org/10.1056/NEJMp1109283"
            >doi.org/10.1056/NEJMp1109283</a
          >.
        </li>
        <li>
          Ekman, Inger, Karl Swedberg, Charles Taft, Anders Lindseth, Astrid
          Norberg, Eva Brink, Jane Carlsson, et al. 2011. Person-Centered Care —
          Ready for Prime Time. European Journal of Cardiovascular Nursing 10:
          248–251.
          <a href="https://doi.org/10.1016/j.ejcnurse.2011.06.008"
            >doi.org/10.1016/j.ejcnurse.2011.06.008</a
          >.
        </li>
        <li>
          Britten, Nicky, Lucy Moore, Doris Lydahl, Oncel Naldemirci, Mark Elam,
          and Axel Wolf. 2017. Elaboration of the Gothenburg model of
          person-centred care. Health Expectations 20: 407–418.
          <a href="https://doi.org/10.1111/hex.12468"
            >doi.org/10.1111/hex.12468</a
          >.
        </li>
        <li>
          <!-- 4 -->
          Ahmad, Nahid, Jo Ellins, Holly Krelle, and Michael Lawrie. 2014.
          Person-centred care: from ideas to action. Health Foundation.
        </li>
        <li>
          Edvardsson, David, P. O. Sandman, and Lena Borell. 2014. Implementing
          national guidelines for person-centered care of people with dementia
          in residential aged care: effects on perceived person-centeredness,
          staff strain, and stress of conscience. International Psychogeriatrics
          26: 1171–1179.
          <a href="https://doi.org/10.1017/S1041610214000258"
            >doi.org/10.1017/S1041610214000258</a
          >.
        </li>
        <li>
          <!-- 6 -->
          Olsson, Lars-Eric, Elisabeth Hansson, Inger Ekman, and Jón Karlsson.
          2009. A cost-effectiveness study of a patient-centred integrated care
          pathway. Journal of Advanced Nursing 65: 1626–1635.
          <a href="https://doi.org/10.1111/j.1365-2648.2009.05017.x"
            >doi.org/10.1111/j.1365-2648.2009.05017.x</a
          >.
        </li>
        <li>
          Feldthusen, C, A Grimby-Ekman, H Forsblad-d’Elia, L Jacobsson, and K
          Mannerkorpi. 2016. Explanatory factors and predictors of fatigue in
          persons with rheumatoid arthritis: A longitudinal study. Journal of
          Rehabilitation Medicine 48: 469–476.
          <a href="https://doi.org/10.2340/16501977-2090"
            >doi.org/10.2340/16501977-2090</a
          >.
        </li>
        <li>
          <!-- 8 -->
          Brännström, Margareta, and Kurt Boman. 2014. Effects of person-centred
          and integrated chronic heart failure and palliative home care. PREFER:
          a randomized controlled study: PREFER: a randomized controlled study.
          European Journal of Heart Failure 16: 1142–1151.
          <a href="https://doi.org/10.1002/ejhf.151">doi.org/10.1002/ejhf.151</a
          >.
        </li>
        <li>
          Koinberg, Ingalill, Elisabeth Hansson Olofsson, Eric Carlström, and
          Lars-Eric Olsson. 2018. Impact of a person-centered intervention for
          patients with head and neck cancer: a qualitative exploration. BMC
          Nursing 17: 48.
          <a href="https://doi.org/10.1186/s12912-018-0319-6"
            >doi.org/10.1186/s12912-018-0319-6</a
          >.
        </li>
        <li>
          <!-- 10 -->
          Fossey, Jane, Clive Ballard, Edmund Juszczak, Ian James, Nicola Alder,
          Robin Jacoby, and Robert Howard. 2006. Effect of enhanced psychosocial
          care on antipsychotic use in nursing home residents with severe
          dementia: cluster randomised trial. BMJ 332: 756–761.
          <a href="https://doi.org/10.1136/bmj.38782.575868.7C"
            >doi.org/10.1136/bmj.38782.575868.7C</a
          >.
        </li>
        <li>
          Arvidsdotter, Tina, Bertil Marklund, Charles Taft, and Sven Kylén.
          2015. Quality of life, sense of coherence and experiences with three
          different treatments in patients with psychological distress in
          primary care: a mixed-methods study. BMC Complementary and Alternative
          Medicine 15: 132.
          <a href="https://doi.org/10.1186/s12906-015-0654-z"
            >doi.org/10.1186/s12906-015-0654-z</a
          >.
        </li>
        <li>
          <!-- 12 -->
          Thompson, D R, and A M Clark. 2009. Cardiac rehabilitation: into the
          future. Heart 95: 1897–1900.
          <a href="https://doi.org/10.1136/hrt.2009.173732"
            >doi.org/10.1136/hrt.2009.173732</a
          >.
        </li>
        <li>
          Clark, Alexander M., Lisa Hartling, Ben Vandermeer, Sue L. Lissel, and
          Finlay A. McAlister. 2007. Secondary prevention programmes for
          coronary heart disease: a meta-regression showing the merits of
          shorter, generalist, primary care-based interventions. European
          Journal of Cardiovascular Prevention &amp; Rehabilitation 14: 538–546.
          <a href="https://doi.org/10.1097/HJR.0b013e328013f11a"
            >doi.org/10.1097/HJR.0b013e328013f11a</a
          >.
        </li>
      </ol>
    </article>
  </div>
</div>
