<div class="container">
  <div class="row">
    <div class="col-12">
      <h2><a name="characteristics">Characteristics</a></h2>
      <p>
        Person-Centred Care (PCC) means a step forward from well-established
        approach called Patient-Centred Care. The Picker Institute, identified
        eight characteristics of care as the most important indicators of
        Patient-Centred Care<sup>[1]</sup>:
      </p>
      <ol>
        <li>
          <strong>respect</strong> for the patient’s values, preferences, and
          expressed needs
        </li>
        <li><strong>coordinated</strong> and integrated care</li>
        <li>
          clear, high-quality <strong>information and education</strong> for the
          patient and family
        </li>
        <li><strong>physical comfort</strong>, including pain management</li>
        <li>
          emotional support and <strong>alleviation of fear</strong> and anxiety
        </li>
        <li>
          <strong>involvement of family</strong> members and friends, as
          appropriate
        </li>
        <li>
          <strong>continuity</strong>, including through care-site transitions
        </li>
        <li><strong>access</strong> to care.</li>
      </ol>

      <p>
        The most important omission in the list is
        <strong
          >partnership between a patient, their family and healthcare
          professionals</strong
        >. Thus, Person-Centred Care is shift from a model of care based on
        diagnoses and one side physician judgement to an approach based on a
        contractual agreement between a patient, their family and medical
        professionals. PCC involves the patient as an active partner in care and
        the decision-making process. Patients and health care professionals
        jointly develop a health plan based on the patient´s illness history
        which
        <strong>identifies personal resources and opportunities</strong> in the
        home and social network as well as potential barriers. Identified
        resources together with medical examinations and bio-markers form the
        foundation for elaborating the jointly agreed care plan <sup>[2]</sup>.
        In Patient-Centred Care a patient is in the centre of the care process
        but is not an equal partner in their own care and treatment.
      </p>
    </div>
  </div>
</div>
