<div class="container">
  <div class="row">
    <div class="col-12">
      <h2><a name="characteristics">Charakterystyka</a></h2>
      <p>
        Opieka Zorientowana na Osobę (OZO, znane też jako Person Centred Care)
	oznacza kolejny krok wychodzący od szeroko zaakceptowanej Opieki
	Zorientowanej na Pacjenta. Instytut Pickera zidentyfikował osiem najważniejszych
	cech charakteryzujących Opiekę Zorientowaną na Pacjenta<sup>[1]</sup>:
      </p>
      <ol>
        <li>
          <strong>respekt</strong> dla wartości, preferencji i wyrażonych potrzeb pacjenta
        </li>
        <li><strong>koordynowana</strong> i zintegrowana opieka</li>
        <li>
          klarowne <strong>informacje, edukacja</strong> wysokiej jakości dla pacjentów
	  i ich rodzin
        </li>
        <li><strong>komfort fizyczny</strong>, włączając terapię bólu</li>
        <li>
          wsparcie emocjonalne i <strong>łagodzenie lęku</strong> oraz niepokoju
        </li>
        <li>
          <strong>włączenie członków rodziny</strong> i przyjaciół pacjenta wedle uznania
        </li>
        <li>
          <strong>ciągłość</strong> opieki, włączając transport między ośrodkami
        </li>
	<li><strong>dostęp</strong> do opieki.</li>
      </ol>

      <p>
        Najważniejszym brakującym elementem Opieki Zorientowanej na Pacjenta jest
        <strong>partnerstwo pomiędzy pacjente, jego rodziną i profesjonalistami medycznymi</strong>. 
	
	W tym zakresie, Opieka Zorientowana na Osobę jest ewolucją z modelu opieki
	bazującego na diagnozie i jednostronnej ocenie lekarza do modelu bazującego
	na kontraktowym porozumieniu pomiędzy pacjentem, jego rodziną i profesjonalistami.
	OZO angażuje pacjenta jako aktywnego partnera w opiece i w procesie podejmowania
	decyzji. Pacjenci i pracownicy ochrony zdrowia opracowują razem plan zdrowia
	bazujący na historii choroby pacjenta, dodatkowo
	<strong>
	  identyfikując zasoby osobiste pacjenta
	  i okazje wynikające z jego sytuacji
	</strong>,
	rodzinnej, społecznej. Plan ten identyfikuje też potencjalne bariery.
	Zidentyfikowane zasoby, razem z wynikami badań, badaniem przedmiotowym, wywiadem
	i opisami stają się wspólnie uzgodnionym planem opieki <sup>[2]</sup>.
	W Opiece Zorientowanej na Pacjenta, pacjent również jest w centrum procesów
	składających się na opiekę, ale nie jest równym partnerem w swoim procesie
	leczniczym.
      </p>
    </div>
  </div>
</div>
