<div class="container">
  <!-- TASKTODO translate -->

  <div class="row">
    <div class="col-12">
      <h2>
        <a name="checklist">Questions identifying a person-centred care</a>
      </h2>
      <p>
        when most of the answers to the following questions are positive than
                one can consider that delivered care is consistent with person-centred
                care approach
        <sup>[2][3][4][5]</sup>:
      </p>
    </div>
  </div>
  {% include sections/checklist/table-pl.html %}
</div>
