<div class="container section-front-matter">
  <div class="row">
    <header class="col-12 col-sm-8 col-lg-9">
      <h2>{{ site.header.suptitle[page.lang] }}</h2>
      <h1>{{ site.header.title[page.lang] }}</h1>
      {{ page.front_matter_content }}
    </header>
    <nav class="col-12 col-sm-4 col-lg-3">
      <ul>
        {% for item in site.navbar %}
        <li>
          <a href="{{ item.url }}">{{ item.title[page.lang] }}</a>
        </li>
        {% endfor %}
        <li>
          <a class="go-further" href="#introduction"
            ><i class="fas fa-arrow-alt-circle-down"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
