<article class="container section-introduction">
  <a name="introduction"></a>
  <div class="row">
    <blockquote>
      <p>
        In Person-Centred Care in the centre are
        <strong>“patient’s goals, capabilities and expectations”</strong> and
        the patient is an <strong>equal partner</strong> together with health
        care professionals in the decision-making process concerning their care.
      </p>
    </blockquote>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        <img
          class="pcc-animation"
          src="/assets/PCC_animation_720.gif"
          alt="Person centred care versus patient centred care animation"
        />
        This idea does not imply that patients and professionals take on the
        same roles and responsibilities as in a negotiation between equals. The
        fundamental equality and asymmetry between patient and professional
        implies that their relationship cannot be a matter of a one-way exercise
        of power, but neither a symmetrical exchange of information.
        Establishing a partnership requires an active involvement from both
        parties, but from different starting points and with different
        prerequisites. The professional is an expert in medicine,
        rehabilitation, care etc. and the patient is an expert on their own
        life, fillings and desires. Person-centred care (PCC) addresses the
        importance of knowing the person behind the patient. There are many
        centres in Europe and the US where PCC is developed. One of the most
        prominent is the
        <a href="https://gpcc.gu.se/english"
          >University of Gothenburg Centre for Person-Centred Care (GPCC)</a
        >. The GPCC model consists of three essential ‘routines’ to initiate,
        integrate and safeguard person-centred care in daily clinical practice
        [3]:
      </p>
      <ol class="icon-list">
        <li>
          <i class="fas fa-feather-alt"></i>
          <strong>Patient narrative.</strong>
          Initiate a partnership by eliciting the patient narrative - a sick
          person’s account of their illness, symptoms and their impact on their
          life. It captures the person’s suffering in the context of their
          everyday life, as an equal addition to medical narratives that reflect
          the process of diagnosing and treating the disease.
        </li>
        <li>
          <i class="fas fa-handshake"></i>
          <strong>Partnership.</strong>
          Work the partnership by means of shared decision making, so that
          professionals, patients and very often their relatives all work
          together to achieve commonly agreed goals.
        </li>
        <li>
          <i class="fas fa-book"></i>
          <strong>Documentation.</strong>
          Safeguard the partnership by documenting the narrative in the form of
          patient preferences and values, as well as involvement in care and
          treatment decision making.
        </li>
      </ol>
      <p>
        These routines lead to jointly agreed care plan which have to embrace
        [3]:
      </p>
      <ul>
        <li>clinical tasks to be undertaken by the professionals and</li>
        <li>everyday goals undertaken by the patient/relatives</li>
      </ul>
    </div>
  </div>
</article>
