<article class="container section-introduction">
  <a name="introduction"></a>
  <div class="row">
    <blockquote>
      <p>
        W Opiece Zorientowanej na Pacjenta (Person-centred care) centralne
        miejsce zajmują
        <strong>“cele, moliwości i oczekiwania pacjenta”</strong>
        a pacjent jest
        <strong>równoprawnym partnerem</strong>, uczestniczącym w procesie
        podejmowania decyzji odnośnie opieki razem z profesjonalistami.
      </p>
    </blockquote>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        <img
          alt="Animacja pokazująca rónicę mięzy Opieką Zorientowaną na Osobę i Opieką Zorientowaną na Pacjenta"
          class="pcc-animation"
          src="/assets/PCC_animation_720.gif"
        />

        Koncepcja OZO nie zakłada, że pacjent i profesjonalista mają takie same
        role i odpowiedzialności (nie jest to negociacja pomiędzy równymi).
        Fundamentalna równość i asymetria pomiędzy pacjentem i profesjonalistą
        powoduje, że ich relacja nie może być ani jednostronną demonstracją siły
        ani symetryczną wymianą informacji. Ustanawianie partnerstwa wymaga
        aktywnego udziału obu stron, z których każda rozpoczyna relację z innego
        punktu i z innymi wymaganiami wstępnymi. Profesjonalista jest ekspertem
        w dziedzinach medycyny, rehabilitacji, opieki, etc. Natomiast pacjent
        jest ekspertem w dziedzinie swojego życia, swoich emocji i swoich
        pragnień. Opieka Zorientowana na Osobę (OZO = PCC) podkreśla istotność
        zrozumienia Osoby kryjącej się w pacjencie. W Europie i Stanach
        Zjednoczonych jest wiele centrów naukowych, które obecnie dopracowują
        OZO. Jedno z najważniejszych, to
        <a href="https://gpcc.gu.se/english"
          >Centrum Opieki Zorientowanej na Osobę Uniwersytetu w Goetenburgu
          (GPCC) [angielski]</a
        >. GPCC Stworzyło model, który składa się z trzech kluczowych
        'procedur', które są punktem zaczepienia umożliwiającym wdrożenie i
        zavezpieczenie Opieki Zorientowanej na Osobę w codziennej praktyce
        klinicznej[3]:
      </p>

      {% include sections/introduction/key-routines-pl.html %}
    </div>
  </div>
</article>
