<article class="container section-introduction">
  <a name="introduction"></a>
  <div class="row">
    <blockquote>
      <p>
        In Person-Centred Care in the centre are
        <strong>“patient’s goals, capabilities and expectations”</strong>
        and the patient is an
        <strong>equal partner</strong>
        together with health care professionals in the decision-making process
        concerning their care.
      </p>
    </blockquote>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        <img
          alt="Person centred care versus patient centred care animation"
          class="pcc-animation"
          src="/assets/pcc-animation/PCC_animation_300_reduced_frames.gif"
        />
        This idea does not imply that patients and professionals take on the
        same roles and responsibilities as in a negotiation between equals. The
        fundamental equality and asymmetry between patient and professional
        implies that their relationship cannot be a matter of a one-way exercise
        of power, but neither a symmetrical exchange of information.
        Establishing a partnership requires an active involvement from both
        parties, but from different starting points and with different
        prerequisites. The professional is an expert in medicine,
        rehabilitation, care etc. and the patient is an expert on their own
        life, fillings and desires. Person-centred care (PCC) addresses the
        importance of knowing the person behind the patient. There are many
        centres in Europe and the US where PCC is developed. One of the most
        prominent is the
        <a href="https://gpcc.gu.se/english"
          >University of Gothenburg Centre for Person-Centred Care (GPCC)</a
        >. The GPCC model consists of three essential ‘routines’ to initiate,
        integrate and safeguard person-centred care in daily clinical practice
        [3]:
      </p>

      {% include sections/introduction/key-routines-en.html %}
    </div>
  </div>
</article>
