<ol class="icon-list">
  <li>
    <i class="fas fa-feather-alt"></i>
    <strong>Narracja pacjenta.</strong>
    Inicjuj partnerstwo przez zdobywanie narracji pacjenta — własnego punktu widzenia osoby chorej:
    na jej chorobę, objawy i ich wpływ na jej życie. Wyłapuj cierpienia pacjenta w kontekście
    ich codziennego życia, jako równoprawny dodatek do narracji medycznj (odzwierciedlającej
    proces diagnostyczno-leczniczy).
  </li>
  <li>
    <i class="fas fa-handshake"></i>
    <strong>Partnerstwo.</strong>
    Wypracuj partnerstwo, rozumiane jako współdzielone podejmowanie decyzji,
    tak, aby profesjonaliści, pacjenci i bardzo często ich rodziny pracowały razem
    nad osiąganiem wspólnie ustalonych celów.
  </li>
  <li>
    <i class="fas fa-book"></i>
    <strong>Dokumentacja.</strong>
    Zabezpiecz partnerstwo przez dokumentowanie narracji w formie preferencji i wartości pacjenta.
    Dokumentuj także zaangażowania w proces podejmowania decyzji odnośnie opieki i leczenia.
  </li>
</ol>
<p>
  Te procedury prowadzą to powstania wspólnie uzgodnionego planu opieki,
  który powinien zawierać<sup>[3]</sup>:
</p>
<ul>
  <li>zadania kliniczne podejmowane przez profesjonalistów</li>
  <li>codzienne cele działań pacjenta i jego bliskich</li>
</ul>

<img alt="Key routines lead to care plan" class="svg-content-img" src="/assets/care-plan-1024.png"/>
