<ol class="icon-list">
  <li>
    <i class="fas fa-feather-alt"></i>
    <strong>Patient narrative.</strong>
    Initiate a partnership by eliciting the patient narrative - a sick person’s
    account of their illness, symptoms and their impact on their life. It
    captures the person’s suffering in the context of their everyday life, as an
    equal addition to medical narratives that reflect the process of diagnosing
    and treating the disease.
  </li>
  <li>
    <i class="fas fa-handshake"></i>
    <strong>Partnership.</strong>
    Work the partnership by means of shared decision making, so that
    professionals, patients and very often their relatives all work together to
    achieve commonly agreed goals.
  </li>
  <li>
    <i class="fas fa-book"></i>
    <strong>Documentation.</strong>
    Safeguard the partnership by documenting the narrative in the form of
    patient preferences and values, as well as involvement in care and treatment
    decision making.
  </li>
</ol>
<p>
  These routines lead to jointly agreed care plan which have to embrace [3]:
</p>
<ul>
  <li>clinical tasks to be undertaken by the professionals and</li>
  <li>everyday goals undertaken by the patient/relatives</li>
</ul>

<img
  class="svg-content-img"
  src="/assets/care-plan.svg"
  alt="Key routines lead to care plan"
/>
