<div class="explanation green-strip">
    <div class="container">
        <div class="row">

            <div class="col-6 col-md-3 explanation-item">
                <div><i class="fas fa-hospital-alt"></i></div>

                <p>
                    1. Podaj numer telefonu przy rejestracji w szpitalu i poproś i przesłanie porady przy wypisie
                </p>
            </div>
            <div class="col-6 col-md-3 explanation-item">
                <div><i class="fas fa-user-md"></i></div>

                <p>
                    2. Wypisując pacjenta specjalista utworzy poradę i wyśle Ci wiadomość SMS z linkiem
                </p>
            </div>
            <div class="col-6 col-md-3 explanation-item">
                <div><i class="fas fa-sms"></i></div>

                <p>
                    3. Otwórz link w wiadomości SMS, zostaniesz poproszony o pobranie aplikacji i zalogowanie się
                </p>
            </div>
            <div class="col-6 col-md-3 explanation-item">
                <div><i class="fas fa-file-download"></i></div>
                <p>
                    4. Porada jest na stałe zapisana na Twoim koncie. Możesz ją otworzyć na kadym urządzeniu, na którym
                    się zalogujesz
                </p>
            </div>
        </div>
    </div>
</div>