<nav class="navbar navbar-expand-md navbar-dark color-black">
  <a class="navbar-brand" href="/">
    <img
      src="/assets/logo-ameryka-white.svg"
      class="navbar-ameryka-logo"
      alt="{{ site.text.navbar.title }}"
      title="{{ site.text.navbar.title }}"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for item in site.navbar %}
      <li class="nav-item active">
        <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
