<div class="container">
  <div class="row">
    <div class="col12">
      <p>
        <a name="characteristics">Person-Centred Care (PCC)</a> means a step
        forward from well-established approach called Patient-Centred Care. The
        Picker Institute, identified eight characteristics of care as the most
        important indicators of Patient-Centred Care<sup
          data-toggle="tooltip"
          title="Barry, Michael J., and Susan Edgman-Levitan. 2012. Shared Decision Making — The Pinnacle of Patient-Centered Care. New England Journal of Medicine 366: 780–781. https://doi.org/10.1056/NEJMp1109283."
          >[1]</sup
        >:
      </p>
      <ol>
        <li>
          respect for the patient’s values, preferences, and expressed needs;
        </li>
        <li>coordinated and integrated care;</li>
        <li>
          clear, high-quality information and education for the patient and
          family;
        </li>
        <li>physical comfort, including pain management;</li>
        <li>emotional support and alleviation of fear and anxiety;</li>
        <li>involvement of family members and friends, as appropriate;</li>
        <li>continuity, including through care-site transitions;</li>
        <li>
          and access to care. The most important omission in the list is
          partnership between a patient, their family and healthcare
          professionals. Thus, Person-Centred Care is shift from a model of care
          based on diagnoses and one side physician judgement to an approach
          based on a contractual agreement between a patient, their family and
          medical professionals. PCC involves the patient as an active partner
          in care and the decision-making process. Patients and health care
          professionals jointly develop a health plan based on the patient´s
          illness history which identifies personal resources and opportunities
          in the home and social network as well as potential barriers.
          Identified resources together with medical examinations and
          bio-markers form the foundation for elaborating the jointly agreed
          care plan <sup>[2]</sup>. In Patient-Centred Care a patient is in the
          centre of the care process but is not an equal partner in their own
          care and treatment.
        </li>
      </ol>
      <h2>
        <a name="checklist">Questions identifying a person-centred care</a>
      </h2>
      <p>
        when most of the answers to the following questions are positive than
        one can consider that delivered care is consistent with person-centred
        care approach
        <sup>[2][3][4][5]</sup>:
      </p>
      <ol>
        <li>
          Do professionals and therapeutic teams plan care and treatment
          together with patients and their relatives and make key decisions
          together?
        </li>
        <li>
          Do professionals ask about patient preferences (both treatment
          preferences and the goals of treatment)?
        </li>
        <li>
          Do professionals listen to the patient’s narrative about their life
          and environment, often in the presence of their family, and on this
          basis identify their psychophysical state, hierarchy of values, ideas
          and thoughts regarding the improvement of their life and document it?
        </li>
        <li>
          Do professionals understand the patient as a person in a
          socio-cultural context and identify their individual (and their social
          network) opportunities and limitations.
        </li>
        <li>
          Are the identified opportunities and limitations used to better
          transform the resources provided by health care to strengthen the
          functionalities desired by the person?
        </li>
        <li>
          Do professionals and patients (together with relatives) work as
          partners in the process of care and/or treatment and/or
          rehabilitation?
        </li>
        <li>
          Does cooperation with professionals allow patients a sense of control
          over their care and/or treatment and/or rehabilitation?
        </li>
        <li>
          Are people with low levels of activation, self-efficacy or faith in
          self-management of their care and/or treatment and/or rehabilitation
          supported in order to develop knowledge, skills and self-confidence to
          manage their health and well-being?
        </li>
        <li>
          By listening to the patient’s narrative, does the professional
          identify the needs and abilities in self-care and preventive care,
          focusing on the patient’s available strengths to promote healthy
          behaviours?
        </li>
        <li>
          Is the professional always seeking agreement on a care and treatment
          plan based on ethics?
        </li>
        <li>
          Is the jointly prepared care and/or treatment and/or rehabilitation
          plan documented?
        </li>
        <li>
          Is the current version of this plan always available to the patient?
        </li>
        <li>
          Are the changes introduced in the patient’s life discussed at the next
          meeting?
        </li>
      </ol>
    </div>
  </div>
</div>
