<p>
  <a name="characteristics">Person-Centred Care (PCC)</a> means a step forward
  from well-established approach called Patient-Centred Care. The Picker
  Institute, identified eight characteristics of care as the most important
  indicators of Patient-Centred Care<sup
    data-toggle="tooltip"
    title="Barry, Michael J., and Susan Edgman-Levitan. 2012. Shared Decision Making — The Pinnacle of Patient-Centered Care. New England Journal of Medicine 366: 780–781. https://doi.org/10.1056/NEJMp1109283."
    >[1]</sup
  >:
</p>
<ol>
  <li>respect for the patient’s values, preferences, and expressed needs;</li>
  <li>coordinated and integrated care;</li>
  <li>
    clear, high-quality information and education for the patient and family;
  </li>
  <li>physical comfort, including pain management;</li>
  <li>emotional support and alleviation of fear and anxiety;</li>
  <li>involvement of family members and friends, as appropriate;</li>
  <li>continuity, including through care-site transitions;</li>
  <li>
    and access to care. The most important omission in the list is partnership
    between a patient, their family and healthcare professionals. Thus,
    Person-Centred Care is shift from a model of care based on diagnoses and one
    side physician judgement to an approach based on a contractual agreement
    between a patient, their family and medical professionals. PCC involves the
    patient as an active partner in care and the decision-making process.
    Patients and health care professionals jointly develop a health plan based
    on the patient´s illness history which identifies personal resources and
    opportunities in the home and social network as well as potential barriers.
    Identified resources together with medical examinations and bio-markers form
    the foundation for elaborating the jointly agreed care plan <sup>[2]</sup>.
    In Patient-Centred Care a patient is in the centre of the care process but
    is not an equal partner in their own care and treatment.
  </li>
</ol>
<h2><a name="checklist">Questions identifying a person-centred care</a></h2>
<p>
  when most of the answers to the following questions are positive than one can
  consider that delivered care is consistent with person-centred care approach
  <sup>[2][3][4][5]</sup>:
</p>
<ol>
  <li>
    Do professionals and therapeutic teams plan care and treatment together with
    patients and their relatives and make key decisions together?
  </li>
  <li>
    Do professionals ask about patient preferences (both treatment preferences
    and the goals of treatment)?
  </li>
  <li>
    Do professionals listen to the patient’s narrative about their life and
    environment, often in the presence of their family, and on this basis
    identify their psychophysical state, hierarchy of values, ideas and thoughts
    regarding the improvement of their life and document it?
  </li>
  <li>
    Do professionals understand the patient as a person in a socio-cultural
    context and identify their individual (and their social network)
    opportunities and limitations.
  </li>
  <li>
    Are the identified opportunities and limitations used to better transform
    the resources provided by health care to strengthen the functionalities
    desired by the person?
  </li>
  <li>
    Do professionals and patients (together with relatives) work as partners in
    the process of care and/or treatment and/or rehabilitation?
  </li>
  <li>
    Does cooperation with professionals allow patients a sense of control over
    their care and/or treatment and/or rehabilitation?
  </li>
  <li>
    Are people with low levels of activation, self-efficacy or faith in
    self-management of their care and/or treatment and/or rehabilitation
    supported in order to develop knowledge, skills and self-confidence to
    manage their health and well-being?
  </li>
  <li>
    By listening to the patient’s narrative, does the professional identify the
    needs and abilities in self-care and preventive care, focusing on the
    patient’s available strengths to promote healthy behaviours?
  </li>
  <li>
    Is the professional always seeking agreement on a care and treatment plan
    based on ethics?
  </li>
  <li>
    Is the jointly prepared care and/or treatment and/or rehabilitation plan
    documented?
  </li>
  <li>Is the current version of this plan always available to the patient?</li>
  <li>
    Are the changes introduced in the patient’s life discussed at the next
    meeting?
  </li>
</ol>
<h2><a name="evidence">Evidence</a></h2>
<p>
  The use of PCC in the group of patients with hip fractures reduced the number
  of days of care by 50 percent and reduced the number of medical complications
  and the level of pain experienced by patients. The same study showed that the
  highest improvement was achieved in the oldest patients. In the 91–97 age
  group, the number of days of care decreased from 46 days to 12 days, compared
  to the age group 65–70 years in which the number of days of care was reduced
  from 16 to 14 days <sup>[6]</sup>.
</p>
<p>
  The use of PCC in rheumatoid arthritis patients has proven reduced fatigue,
  increased muscle strength, greater confidence in their own abilities and
  better self-assessment of health, as well as reduced the cost of treatment
  <sup>[7]</sup>.
</p>
<p>
  Similarly, the introduction of PCC into the process of cancer treatment and
  palliative care led to a higher quality of life and greater relief from
  symptoms compared to the control group <sup>[8][9]</sup>.
</p>
<p>
  Positive effects of PCC implementation were also seen in the psychiatric care
  for elderly people. Individually tailored PCC interventions for people with
  dementia in 12 nursing homes reduced the proportion of residents receiving
  neuroleptics by about 19.1 percent compared with other similar centers
  <sup>[10]</sup>.
</p>
<p>
  The atmosphere in the nursing home after applying PCC was more friendly than
  before and the staff were less stressed <sup>[5]</sup>.
</p>
<p>
  In psychiatric care, about 50 percent of patients reported during the study
  that PCC led to a reduction in anxiety compared with 10 percent among patients
  treated conventionally. Similar results were achived by implementing PCC into
  depression treatment <sup>[11]</sup>.
</p>
<p>
  Patients’ failure to comply with the recommendations of medical professionals
  is a crucial issue of modern healthcare, especially in the post-acute
  treatment period. Coronary artery disease is a clear example of this issue —
  despite the significant mortality decrease achieved by the invasive medicine,
  the overall effects are destroyed by the lack of subsequent rehabilitation,
  mainly because only a small percentage of patients participate in it
  <sup>[12]</sup>.
</p>
<p>
  Prophylaxis suffers from similar problems of the inability of patients to
  adhere to the prophylactic advice regarding physical activity, healthy eating,
  smoking, and maintaining adequate cholesterol levels. Similarly, the
  application of PCC brings measurable effects in this area <sup>[12][13]</sup>.
</p>
<h2><a name="bibliography">Bibliography</a></h2>
<ol>
  <li>
    Barry, Michael J., and Susan Edgman-Levitan. 2012. Shared Decision Making —
    The Pinnacle of Patient-Centered Care. New England Journal of Medicine 366:
    780–781. https://doi.org/10.1056/NEJMp1109283.
  </li>
  <li>
    Ekman, Inger, Karl Swedberg, Charles Taft, Anders Lindseth, Astrid Norberg,
    Eva Brink, Jane Carlsson, et al. 2011. Person-Centered Care — Ready for
    Prime Time. European Journal of Cardiovascular Nursing 10: 248–251.
    https://doi.org/10.1016/j.ejcnurse.2011.06.008.
  </li>
  <li>
    Britten, Nicky, Lucy Moore, Doris Lydahl, Oncel Naldemirci, Mark Elam, and
    Axel Wolf. 2017. Elaboration of the Gothenburg model of person-centred care.
    Health Expectations 20: 407–418. https://doi.org/10.1111/hex.12468.
  </li>
  <li>
    Ahmad, Nahid, Jo Ellins, Holly Krelle, and Michael Lawrie. 2014.
    Person-centred care: from ideas to action. Health Foundation.
  </li>
  <li>
    Edvardsson, David, P. O. Sandman, and Lena Borell. 2014. Implementing
    national guidelines for person-centered care of people with dementia in
    residential aged care: effects on perceived person-centeredness, staff
    strain, and stress of conscience. International Psychogeriatrics 26:
    1171–1179. https://doi.org/10.1017/S1041610214000258.
  </li>
  <li>
    Olsson, Lars-Eric, Elisabeth Hansson, Inger Ekman, and Jón Karlsson. 2009. A
    cost-effectiveness study of a patient-centred integrated care pathway.
    Journal of Advanced Nursing 65: 1626–1635.
    https://doi.org/10.1111/j.1365-2648.2009.05017.x.
  </li>
  <li>
    Feldthusen, C, A Grimby-Ekman, H Forsblad-d’Elia, L Jacobsson, and K
    Mannerkorpi. 2016. Explanatory factors and predictors of fatigue in persons
    with rheumatoid arthritis: A longitudinal study. Journal of Rehabilitation
    Medicine 48: 469–476. https://doi.org/10.2340/16501977-2090.
  </li>
  <li>
    Brännström, Margareta, and Kurt Boman. 2014. Effects of person-centred and
    integrated chronic heart failure and palliative home care. PREFER: a
    randomized controlled study: PREFER: a randomized controlled study. European
    Journal of Heart Failure 16: 1142–1151. https://doi.org/10.1002/ejhf.151.
  </li>
  <li>
    Koinberg, Ingalill, Elisabeth Hansson Olofsson, Eric Carlström, and
    Lars-Eric Olsson. 2018. Impact of a person-centered intervention for
    patients with head and neck cancer: a qualitative exploration. BMC Nursing
    17: 48. https://doi.org/10.1186/s12912-018-0319-6.
  </li>
  <li>
    Fossey, Jane, Clive Ballard, Edmund Juszczak, Ian James, Nicola Alder, Robin
    Jacoby, and Robert Howard. 2006. Effect of enhanced psychosocial care on
    antipsychotic use in nursing home residents with severe dementia: cluster
    randomised trial. BMJ 332: 756–761.
    https://doi.org/10.1136/bmj.38782.575868.7C.
  </li>
  <li>
    Arvidsdotter, Tina, Bertil Marklund, Charles Taft, and Sven Kylén. 2015.
    Quality of life, sense of coherence and experiences with three different
    treatments in patients with psychological distress in primary care: a
    mixed-methods study. BMC Complementary and Alternative Medicine 15: 132.
    https://doi.org/10.1186/s12906-015-0654-z.
  </li>
  <li>
    Thompson, D R, and A M Clark. 2009. Cardiac rehabilitation: into the future.
    Heart 95: 1897–1900. https://doi.org/10.1136/hrt.2009.173732.
  </li>
  <li>
    Clark, Alexander M., Lisa Hartling, Ben Vandermeer, Sue L. Lissel, and
    Finlay A. McAlister. 2007. Secondary prevention programmes for coronary
    heart disease: a meta-regression showing the merits of shorter, generalist,
    primary care-based interventions. European Journal of Cardiovascular
    Prevention &amp; Rehabilitation 14: 538–546.
    https://doi.org/10.1097/HJR.0b013e328013f11a.
  </li>
</ol>
<h2><a name="authors">Authors</a></h2>
<p>
  <strong>Roman Lewandowski</strong> — researcher focused on healthcare
  sciences, devoted to PCC research; chief of the Voivodeship Rehabilitation
  Hospital for Children in Ameryka, Poland. Roman participates in several
  european research programmes faciliating the development of PCC care
  <a href="https://www.researchgate.net/profile/Roman_Lewandowski2"
    >://www.researchgate.net/profile/Roman_Lewandowski2</a
  >
</p>
<p>
  <strong>Jędrzej Lewandowski</strong> — software architect and medical student:
  <a href="https://jedrzej.lewandowski.doctor">://jedrzej.lewandowski.doctor</a>
</p>
