.evidence-carousel {
  margin-bottom: 1 * $spacer;
}

.evidence-carousel-item {
  background: #ccc;
  color: #777;
  width: 100%;
  height: 24rem;
  padding: 1rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
