<div class="container">
  <div class="row">
    <div class="col12">
      <h2>
        <a name="checklist">Questions identifying a person-centred care</a>
      </h2>
      <p>
        when most of the answers to the following questions are positive than
        one can consider that delivered care is consistent with person-centred
        care approach
        <sup>[2][3][4][5]</sup>:
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <input type="checkbox" />
          Do professionals and therapeutic teams plan care and treatment
          together with patients and their relatives and make key decisions
          together?
        </li>
        <li class="list-group-item">
          <input type="checkbox" />
          Do professionals ask about patient preferences (both treatment
          preferences and the goals of treatment)?
        </li>
        <li class="list-group-item">
          <input type="checkbox" />
          Do professionals listen to the patient’s narrative about their life
          and environment, often in the presence of their family, and on this
          basis identify their psychophysical state, hierarchy of values, ideas
          and thoughts regarding the improvement of their life and document it?
        </li>
        <li class="list-group-item">
          <input type="checkbox" />
          Do professionals understand the patient as a person in a
          socio-cultural context and identify their individual (and their social
          network) opportunities and limitations.
        </li>
        <li class="list-group-item">
          <input type="checkbox" />
          Are the identified opportunities and limitations used to better
          transform the resources provided by health care to strengthen the
          functionalities desired by the person?
        </li>
        <li class="list-group-item">
          <input type="checkbox" />
          Do professionals and patients (together with relatives) work as
          partners in the process of care and/or treatment and/or
          rehabilitation?
        </li>
        <li class="list-group-item">
          <input type="checkbox" checked />
          Does cooperation with professionals allow patients a sense of control
          over their care and/or treatment and/or rehabilitation?
        </li>
        <li class="list-group-item">
          <input type="checkbox" />
          Are people with low levels of activation, self-efficacy or faith in
          self-management of their care and/or treatment and/or rehabilitation
          supported in order to develop knowledge, skills and self-confidence to
          manage their health and well-being?
        </li>
        <li class="list-group-item">
          <input type="checkbox" />
          By listening to the patient’s narrative, does the professional
          identify the needs and abilities in self-care and preventive care,
          focusing on the patient’s available strengths to promote healthy
          behaviours?
        </li>
        <li class="list-group-item">
          <input type="checkbox" />
          Is the professional always seeking agreement on a care and treatment
          plan based on ethics?
        </li>
        <li class="list-group-item">
          <input type="checkbox" />
          Is the jointly prepared care and/or treatment and/or rehabilitation
          plan documented?
        </li>
        <li class="list-group-item">
          <input type="checkbox" />
          Is the current version of this plan always available to the patient?
        </li>
        <li class="list-group-item">
          <input type="checkbox" />
          Are the changes introduced in the patient’s life discussed at the next
          meeting?
        </li>
      </ul>
    </div>
  </div>
</div>
