<div class="row">

<table class="table table-striped checklist-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Question</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox" oninput="checklistUpdateResult()"</td>
      <td>
        <span class="badge badge-pill badge-light float-right">1</span>
        Do professionals and therapeutic teams plan care and treatment together
        with patients and their relatives and make key decisions together?
      </td>
    </tr>
    <tr>
      <td><input type="checkbox" oninput="checklistUpdateResult()"</td>
      <td>
        <span class="badge badge-pill badge-light float-right">2</span>
        Do professionals ask about patient preferences (both treatment
        preferences and the goals of treatment)?
      </td>
    </tr>
    <tr>
      <td><input type="checkbox" oninput="checklistUpdateResult()"</td>
      <td>
        <span class="badge badge-pill badge-light float-right">3</span>
        Do professionals listen to the patient’s narrative about their life and
        environment, often in the presence of their family, and on this basis
        identify their psychophysical state, hierarchy of values, ideas and
        thoughts regarding the improvement of their life and document it?
      </td>
    </tr>
    <tr>
      <td><input type="checkbox" oninput="checklistUpdateResult()"</td>
      <td>
        <span class="badge badge-pill badge-light float-right">4</span>
        Do professionals understand the patient as a person in a socio-cultural
        context and identify their individual (and their social network)
        opportunities and limitations.
      </td>
    </tr>
    <tr>
      <td><input type="checkbox" oninput="checklistUpdateResult()"</td>
      <td>
        <span class="badge badge-pill badge-light float-right">5</span>
        Are the identified opportunities and limitations used to better
        transform the resources provided by health care to strengthen the
        functionalities desired by the person?
      </td>
    </tr>
    <tr>
      <td><input type="checkbox" oninput="checklistUpdateResult()"</td>
      <td>
        <span class="badge badge-pill badge-light float-right">6</span>
        Do professionals and patients (together with relatives) work as partners
        in the process of care and/or treatment and/or rehabilitation?
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" checked oninput="checklistUpdateResult()" />
      </td>
      <td>
        <span class="badge badge-pill badge-light float-right">7</span>
        Does cooperation with professionals allow patients a sense of control
        over their care and/or treatment and/or rehabilitation?
      </td>
    </tr>
    <tr>
      <td><input type="checkbox" oninput="checklistUpdateResult()"</td>
      <td>
        <span class="badge badge-pill badge-light float-right">8</span>
        Are people with low levels of activation, self-efficacy or faith in
        self-management of their care and/or treatment and/or rehabilitation
        supported in order to develop knowledge, skills and self-confidence to
        manage their health and well-being?
      </td>
    </tr>
    <tr>
      <td><input type="checkbox" oninput="checklistUpdateResult()"</td>
      <td>
        <span class="badge badge-pill badge-light float-right">9</span>
        By listening to the patient’s narrative, does the professional identify
        the needs and abilities in self-care and preventive care, focusing on
        the patient’s available strengths to promote healthy behaviours?
      </td>
    </tr>
    <tr>
      <td><input type="checkbox" oninput="checklistUpdateResult()"</td>
      <td>
        <span class="badge badge-pill badge-light float-right">10</span>
        Is the professional always seeking agreement on a care and treatment
        plan based on ethics?
      </td>
    </tr>
    <tr>
      <td><input type="checkbox" oninput="checklistUpdateResult()"</td>
      <td>
        <span class="badge badge-pill badge-light float-right">11</span>
        Is the jointly prepared care and/or treatment and/or rehabilitation plan
        documented?
      </td>
    </tr>
    <tr>
      <td><input type="checkbox" oninput="checklistUpdateResult()"</td>
      <td>
        <span class="badge badge-pill badge-light float-right">12</span>
        Is the current version of this plan always available to the patient?
      </td>
    </tr>
    <tr>
      <td><input type="checkbox" oninput="checklistUpdateResult()" /></td>
      <td>
        <span class="badge badge-pill badge-light float-right">13</span>
        Are the changes introduced in the patient’s life discussed at the next
        meeting?
      </td>
    </tr>
  </tbody>
</table>
</div>

<div class="row">
  <div class="col-12">
<p class="compliance-result">Your compliance result: <span id="checklist-result">1</span> / 13</p>
<p>
  <div class="progress" style="width: 100%">
    <div
      class="progress-bar progress-bar-striped"
      id="checklist-result-progress-bar"
      role="progressbar"
      style="width: 7.69%;"
      aria-valuenow="1"
      aria-valuemin="0"
      aria-valuemax="13"
    ></div>
  </div>
</p>
<p>&nbsp;</p>
</div>
</div>
<script>
  function checklistUpdateResult() {
    const count = $(".checklist-table input:checked").length;
    $("#checklist-result").text(count + "");
    $("#checklist-result-progress-bar").attr("aria-valuenow", count);
    $("#checklist-result-progress-bar").css('width', (count*100/13) + '%')

  }
</script>
