<div class="row">
  <table class="table table-striped checklist-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Pytanie</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input id="pcc-checklist-1" oninput="checklistUpdateResult()" type="checkbox"/></td>
        <td>
          <span class="badge badge-pill badge-light float-right">1</span>
          <label for="pcc-checklist-1">
            Czy zespoły profesjonalistów i terapeutów planują opiekę i postępowanie razem z pacjentami i rodzinami pacjentów
            oraz podejmują kluczowe decyzje wspólnie?
          </label>
        </td>
      </tr>
      <tr>
        <td><input id="pcc-checklist-2" oninput="checklistUpdateResult()" type="checkbox"/></td>
        <td>
          <span class="badge badge-pill badge-light float-right">2</span>
          <label for="pcc-checklist-2">
            Czy profesjonaliści pytają o preferencje pacjenta
            (zarówno preferencje odnośnie postępowania jak i odnośnie celu postępowania)?
          </label>
        </td>
      </tr>
      <tr>
        <td><input id="pcc-checklist-3" oninput="checklistUpdateResult()" type="checkbox"/></td>
        <td>
          <span class="badge badge-pill badge-light float-right">3</span>
          <label for="pcc-checklist-3">
            Czy profesjonaliści słuchają narracji pacjenta, o jego życiu i środowisku?
	    Często w obecności rodzin i bazując na identyfikowaniu stany psychofizjologicznego,
	    hierarchii wartości, pomysłów i myślo odnośnie poprawy ich życia?
	    Czy dokumentują tą narrację?
          </label>
        </td>
      </tr>
      <tr>
        <td><input id="pcc-checklist-4" oninput="checklistUpdateResult()" type="checkbox"/></td>
        <td>
          <span class="badge badge-pill badge-light float-right">4</span>
          <label for="pcc-checklist-4">
	    Czy profesjonaliści postrzegają pacjenta jako osobę o socjo-ekonomicznym kontekście
	    i czy identyfikują ich indywidualne (oraz ich sieci społecznej) potrzeby oraz ograniczenia?
          </label>
        </td>
      </tr>
      <tr>
        <td><input id="pcc-checklist-5" oninput="checklistUpdateResult()" type="checkbox"/></td>
        <td>
          <span class="badge badge-pill badge-light float-right">5</span>
          <label for="pcc-checklist-5">
	    Czy zidentyfikowane możliwości i ograniczenia są używane aby lepiej dostosowywać
	    zasoby dostarczane przez system opieki zdrowotnej aby wzmocnić funkcjonalności
	    pożądane przez tą osobę?
          </label>
        </td>
      </tr>
      <tr>
        <td><input id="pcc-checklist-6" oninput="checklistUpdateResult()" type="checkbox"/></td>
        <td>
          <span class="badge badge-pill badge-light float-right">6</span>
          <label for="pcc-checklist-6">
	    Czy profesjonaliści i pacjenci (razem z ich bliskimi) pracują jako partnerzy
	    w procesie opieki i/lub postępowania i/lub rehabilitacji?
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <input checked id="pcc-checklist-7" oninput="checklistUpdateResult()" type="checkbox"/>
        </td>
        <td>
          <span class="badge badge-pill badge-light float-right">7</span>
          <label for="pcc-checklist-7">
	    Czy kooperacja z profesjonalistami daje pacjentom poczucie kontroli
	    nad ich opieką i/lub postępowaniem i/lub rehabilitacją?
          </label>
        </td>
      </tr>
      <tr>
        <td><input id="pcc-checklist-8" oninput="checklistUpdateResult()" type="checkbox"/></td>
        <td>
          <span class="badge badge-pill badge-light float-right">8</span>
          <label for="pcc-checklist-8">
	   Czy osoby z niskim poziomem aktywności, auto-efektywności lub brakiem poczucia sprawczości
	   w procesie opieki, są wspierane w rozwijaniu wiedzy, zdolności i pewności siebie
	   w braniu odpowiedzialności za własne zdrowie i samopoczucie?
          </label>
        </td>
      </tr>
      <tr>
        <td><input id="pcc-checklist-9" oninput="checklistUpdateResult()" type="checkbox"/></td>
        <td>
          <span class="badge badge-pill badge-light float-right">9</span>
          <label for="pcc-checklist-9">
	    Czy profesjonaliści, poprzez słuchanie narracji pacjenta, identyfikują potrzeby i
	    zdolności Pacjenta w braniu przez niego odpowiedzialności za własną opekę i profilaktykę?
	    Czy skupiają się na wzmacnianiu możliwości pacjenta aby promować zdrowe zachowania?
          </label>
        </td>
      </tr>
      <tr>
        <td><input id="pcc-checklist-10" oninput="checklistUpdateResult()" type="checkbox"/></td>
        <td>
          <span class="badge badge-pill badge-light float-right">10</span>
          <label for="pcc-checklist-10">
	    Czy profesjonaliści zawsze dążą do zgody nad planem opieki i postępowania bazując na etyce?
          </label>
        </td>
      </tr>
      <tr>
        <td><input id="pcc-checklist-11" oninput="checklistUpdateResult()" type="checkbox"/></td>
        <td>
          <span class="badge badge-pill badge-light float-right">11</span>
          <label for="pcc-checklist-11">
	   Czy wspólnie przygotowany plan opieki/leczenia/rehabilitacji jest udokumentowany?
          </label>
        </td>
      </tr>
      <tr>
        <td><input id="pcc-checklist-12" oninput="checklistUpdateResult()" type="checkbox"/></td>
        <td>
          <span class="badge badge-pill badge-light float-right">12</span>
          <label for="pcc-checklist-12">
	    Czy bieżąca wersja tego planu jest zawsze dostępna dla pacjenta?
          </label>
        </td>
      </tr>
      <tr>
        <td><input id="pcc-checklist-13" oninput="checklistUpdateResult()" type="checkbox"/></td>
        <td>
          <span class="badge badge-pill badge-light float-right">13</span>
          <label for="pcc-checklist-13">
	   Czy zmiany wprowadzone w życiu pacjenta są omawiane na kolejnych spotkaniach?
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-12">
    <p class="compliance-result">Twoja zgodność z OZO:
      <span id="checklist-result">1</span>
      / 13</p>
    <p>
      <div class="progress" style="width: 100%">
        <div aria-valuemax="13" aria-valuemin="0" aria-valuenow="1" class="progress-bar progress-bar-striped" id="checklist-result-progress-bar" role="progressbar" style="width: 7.69%;"></div>
      </div>
    </p>
    <p>&nbsp;</p>
  </div>
</div>
<script>
  function checklistUpdateResult() {
    const count = $(".checklist-table input:checked").length;
    $("#checklist-result").text(count + "");
    $("#checklist-result-progress-bar").attr("aria-valuenow", count);
    $("#checklist-result-progress-bar").css('width', (count * 100 / 13) + '%')

  }
</script>
